In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [38]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [12]:
print("The titles dataframe has "+ str(len(titles))+" movies listed.")

The titles dataframe has 230621 movies listed.

### What are the earliest two films listed in the titles dataframe?

In [13]:
titles.sort_values('year').head(2)

                     title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [15]:
hamlet = titles['title']=='Hamlet'
len(titles[hamlet])

18

### How many movies are titled "North by Northwest"?

In [16]:
nbynw = titles.title == 'North by Northwest'
len(titles[nbynw])

1

### When was the first movie titled "Hamlet" made?

In [25]:
titles[hamlet].sort_values('year').head(1)

        title  year
46365  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [26]:
treasure_island = titles.title == 'Treasure Island'
titles[treasure_island].sort_values('year')

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [27]:
made_in_1950 = titles.year == 1950
len(titles[made_in_1950])

1093

### How many movies were made in the year 1960?

In [28]:
made_in_1960 = titles.year == 1960
len(titles[made_in_1960])

1496

### How many movies were made from 1950 through 1959?

In [35]:
made1950to1959 = (titles.year >= 1950) & (titles.year <= 1959)
len(titles[made1950to1959])

12656

### In what years has a movie titled "Batman" been released?

In [36]:
batman = titles.title == 'Batman'
titles[batman]

        title  year
55577  Batman  1989
74047  Batman  1943

### How many roles were there in the movie "Inception"?

In [52]:
inception = cast.title == 'Inception'
len(cast[inception])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [58]:
inception_cast = cast[inception]
len(inception_cast[inception_cast.n.isnull()])

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [59]:
len(inception_cast[inception_cast.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [61]:
nbynw = cast.title == 'North by Northwest'
cast[nbynw].sort_values('n').dropna()

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [62]:
sleuth = cast.title == 'Sleuth'
cast[sleuth].sort_values('n')

,title,year,name,type,character,n
314692,Sleuth,2007,Michael Caine,actor,Andrew,1.0
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
1246855,Sleuth,2007,Jude Law,actor,Milo,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1741124,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
250297,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
360366,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
2619277,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
3223502,Sleuth,2007,Carmel O'Sullivan,actress,Maggie,NaN

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [68]:
sleuth_all = cast[sleuth]
sleuth_all[sleuth_all.year == 2007].sort_values('n')

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [81]:
hamlet = cast.title == 'Hamlet'
hamlet = cast[hamlet]
len(hamlet[hamlet.year == 1921])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [82]:
len(hamlet[hamlet.year == 1996])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [84]:
len(hamlet)

313

### How many people have played an "Ophelia"?

In [85]:
len(hamlet[hamlet.character=='Ophelia'])

15

### How many people have played a role called "The Dude"?

In [86]:
len(cast[cast.character=='The Dude'])

18

### How many people have played a role called "The Stranger"?

In [87]:
len(cast[cast.character=='The Stranger'])

208

### How many roles has Sidney Poitier played throughout his career?

In [88]:
len(cast[cast.name=='Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [90]:
len(cast[cast.name=='Judi Dench'])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [95]:
cary_grant = cast[cast.name=='Cary Grant']

cary_grant_2 = cary_grant[cary_grant.n==2]

cary_grant_2[(cary_grant_2.year >= 1940) & (cary_grant_2.year < 1950)].sort_values('year')

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [97]:
cary_grant_1 = cary_grant[cary_grant.n==1]

cary_grant_1[(cary_grant_1.year >= 1940) & (cary_grant_1.year < 1950)].sort_values('year')

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [101]:
roles_1950 = cast[(cast.year >= 1950)& (cast.year < 1960)]
len(roles_1950[roles_1950.type=='actor'])

154727

### How many roles were available for actresses in the 1950s?

In [102]:
len(roles_1950[roles_1950.type=='actress'])

56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [106]:
roles_to_1980 = cast[cast.year <= 1980]
len(roles_to_1980[roles_to_1980.n == 1])

63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [107]:
len(roles_to_1980[roles_to_1980.n != 1])

1094780

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [112]:
len(roles_to_1980[roles_to_1980.n.isnull()])

438086